<div class="header" *ngIf="logined">

</div>
<div class="body" *ngIf="logined">
  <div class="left">
    <nav-list (navChange)="avtivetabs($event)"></nav-list>
  </div>
  <div class="right">
      <content-tabs></content-tabs>
  </div>
</div>
<div class="footer" *ngIf="logined">

</div>
<div class="login" *ngIf="!logined">

  <div class="logincnt">
    <div class="title">
      用户登陆
    </div>
    <div class="container">
      <div class="input-group">
        <label class="input-group-addon ">公司</label>
          <input type="text" class="form-control" [(ngModel)]="item.orgno">
      </div>
      <div class="input-group">
        <label class="input-group-addon">用户名</label>
          <input type="text" class="form-control" [(ngModel)]="item.username">
      </div>
      <div class="input-group">
        <label class="input-group-addon">密码</label>
          <input type="password" class="form-control" [(ngModel)]="item.password">
      </div>
      <button class="btn btn-primary btn-block " (click)="loginByPsd()">登陆</button>
    </div>
    <div class="over">
      <input type="checkbox" id="remima"><label for="remima">记住密码</label>
    </div>

  </div>
</div>
<my-msg></my-msg>
